<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.java.servletpackage.servletclass.ServletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.java.servletpackage.servletclass.ServiceClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>

<filter>
  <filter-name>HomeFilter</filter-name>
  <filter-class>com.java.servletpackage.servletfilter.HomeFilter</filter-class>
</filter>
  <filter>
    <filter-name>ServiceFilter</filter-name>
    <filter-class>com.java.servletpackage.servletfilter.ServicesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServiceFilter</filter-name>
    <url-pattern>/service</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.java.servletpackage.servletlistener.HomeContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.java.servletpackage.servletlistener.RequestContextListener</listener-class>
  </listener>
</web-app>
